:root {
  --bg-prime: #008ad2;
  --bg-dark: #1f1e1e;
  --bg-light: #dcdcdc;
  --bg-light-dimmed: #5a5858;

  --txt-clr-dark: #1f1e1e;
  --txt-clr-light: #dcdcdc;

  --block-bg: #3f9cce;
  --block-destroyed-bg: #df7371;
  --block-size: 36px;

  --clr-selected: #e4f579;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--txt-clr-light);
  text-shadow: 0 0 1px #000;
}

body {
  background: var(--bg-prime);
}

button {
  padding: 0.5em 1em;
  cursor: pointer;
}

.index {
  height: 90vh;
  display: grid;
  place-content: center;
}

.greeting {
  width: 30rem;
  height: 30rem;
  background-color: var(--bg-light);
  transform: translateY(-5rem);
  border-radius: 1rem;
  color: var(--txt-clr-dark);
  box-shadow: 0 0 3px var(--bg-light);
  font-size: 2rem;
  text-align: center;
  padding: 1rem;

  display: grid;
  place-content: center;
  gap: 2rem;
}

/* SETUP SCREEN */
.setup_screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.setup_screen-board_container {
  display: flex;
  gap: 1rem;
}

.ship_container {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.ship {
  display: grid;
  grid-template-columns: repeat(5, var(--block-size));
  padding: 0;
  height: var(--block-size);
  background-color: transparent;
  border: none;
  gap: 1px;

  position: relative;
}

.ship[data-selected="true"] > .ship-block::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid var(--clr-selected);
  border-radius: 5px;
}

.ship-block {
  border: 1px solid var(--bg-dark);
  height: 100%;
  border-radius: 5px;
  position: relative;
}

.ship[data-id] > .ship-block {
  background-color: #7c0343;
}

.ship[data-placed="true"] > .ship-block {
  background-color: gray;
}
.placed > .ship-block {
  background-color: gray;
}

.ship:hover > .ship-block::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid var(--bg-light);
  border-radius: 5px;
}

.player_board {
  display: grid;
  grid-template-columns: repeat(10, 36px);
  grid-template-rows: repeat(10, var(--block-size));
  gap: 1px;
  background-color: var(--bg-light-dimmed);
  padding: 1rem;
  border-radius: 1rem;
}

.player_board .block {
  border: 1px solid var(--bg-dark);
  border-radius: 5px;
  position: relative;
  background-color: var(--block-bg);
}

.occupied::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #7c0343;
}

.hovered-block::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid var(--bg-light);
  border-radius: 5px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(10, 45px);
  grid-template-rows: repeat(10, 45px);
}

.game-board > div {
  border: 1px solid #333;
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
}

/* BATTLE SCREEN */
.battle_screen {
  display: grid;
  gap: 1rem;
}
.score_board {
  display: flex;

  justify-content: space-between;
}

.player_one-name,
.player_two-name {
  color: var(--clr-selected);
  font-size: 2rem;
}
.player_one-counter-label,
.player_two-counter-label {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;

  font-weight: normal;
}

.player_one-counter-label > span,
.player_two-counter-label > span {
  font-weight: bold;
}

.board_container {
  display: flex;
  gap: 5rem;
}
